USE [master]
GO


/****** Object:  Database [QUANLYXEKHACH]     ******/
CREATE DATABASE [QUANLYXEKHACH]
GO



USE [QUANLYXEKHACH]
GO




/****** Object:  Table [dbo].[tblBaoCaoDoanhThuChuyenDi]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaoCaoDoanhThuChuyenDi](
	[MaChuyenDi] [int] NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[SoVe] [int] NULL,
	[DoanhThu] [money] NULL,
	[TiLe] [float] NULL,
 CONSTRAINT [PK__tblBaoCa__2814C4EFF394C1BC] PRIMARY KEY CLUSTERED 
(
	[MaChuyenDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBaoCaoDoanhThuNam]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaoCaoDoanhThuNam](
	[Nam] [int] NOT NULL,
	[DoanhThu] [money] NULL,
	[TiLe] [float] NULL,
 CONSTRAINT [PK__tblBaoCa__C7D111C2F991E8B0] PRIMARY KEY CLUSTERED 
(
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBaoCaoDoanhThuThang]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaoCaoDoanhThuThang](
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SoChuyenDi] [int] NULL,
	[DoanhThu] [money] NULL,
	[TiLe] [float] NULL,
 CONSTRAINT [PK__tblBaoCa__11A9E4568667C90E] PRIMARY KEY CLUSTERED 
(
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBenXe]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBenXe](
	[MaBenXe] [varchar](10) NOT NULL,
	[TenBenXe] [nvarchar](50) NULL,
 CONSTRAINT [PK__tblBenXe__436ED7BA53C308CD] PRIMARY KEY CLUSTERED 
(
	[MaBenXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblChiTietChuyenDi]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblChiTietChuyenDi](
	[MaChuyenDi] [int] NOT NULL,
	[MaBenXeTrungGiang] [varchar](10) NOT NULL,
	[ThoiGianDung] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK__tblChiTi__AD40275151C8BA00] PRIMARY KEY CLUSTERED 
(
	[MaChuyenDi] ASC,
	[MaBenXeTrungGiang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblChiTietPhieuDatCho]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietPhieuDatCho](
	[MaCTPhieu] [int] NOT NULL,
	[MaPhieu] [int] NULL,
	[MaChuyenDi] [int] NULL,
	[LayVe] [bit] NULL,
	[ViTriGhe] [int] NULL,
 CONSTRAINT [PK__tblChiTi__0C8D8D3269193CB3] PRIMARY KEY CLUSTERED 
(
	[MaCTPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChiTietTrungChuyen]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietTrungChuyen](
	[MaXe] [int] NOT NULL,
	[MaPhieu] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK__tblChiTi__35432B3321FFAEFD] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC,
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChuyenDi]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChuyenDi](
	[MaChuyenDi] [int] NOT NULL,
	[MaXe] [int] NULL,
	[KhoiHanh] [datetime] NULL,
	[KetThuc] [datetime] NULL,
	[DonGia] [money] NULL,
	[SoGheTrong] [int] NULL,
	[SoGheDat] [int] NULL,
 CONSTRAINT [PK__tblChuye__2814C4EF873C6E73] PRIMARY KEY CLUSTERED 
(
	[MaChuyenDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLoaiNhanVien]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiNhanVien](
	[MaLoaiNhanVien] [int] NOT NULL,
	[TenLoaiNhanVien] [nvarchar](50) NULL,
 CONSTRAINT [PK__tblLoaiN__C806D5EA4C9B7826] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLoaiXe]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiXe](
	[MaLoaiXe] [int] NOT NULL,
	[TenLoaiXe] [nvarchar](100) NULL,
 CONSTRAINT [PK__tblLoaiX__122512B5C7832D27] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhanVien]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNhanVien] [int] NOT NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[MaLoaiNhanVien] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[CMND] [int] NULL,
	[DiaChi] [nvarchar](200) NULL,
 CONSTRAINT [PK__tblNhanV__77B2CA47C295D1AE] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhanQuyen]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhanQuyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK__tblPhanQ__1D4B7ED4CC3F7AFF] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuDatCho]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuDatCho](
	[MaPhieu] [int] NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[DienThoai] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TrungChuyen] [nvarchar](200) NULL,
 CONSTRAINT [PK__tblPhieu__2660BFE057B299B7] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTaiKhoan]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[TenTaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NULL,
	[MaNhanVien] [int] NULL,
	[MaQuyen] [int] NULL,
 CONSTRAINT [PK__tblTaiKh__B106EAF9F905A062] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblThamSo]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThamSo](
	[ThoiGianDiToiThieu] [int] NULL,
	[BenXeTrungGianToiDa] [int] NULL,
	[ThoiGianDungToiThieu] [int] NULL,
	[ThoiGianDungToiDa] [int] NULL
) ON [PRIMARY]

GO
UPDATE STATISTICS [dbo].[tblThamSo] WITH ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[tblTuyenXe]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTuyenXe](
	[MaTuyen] [varchar](11) NOT NULL,
	[MaBenXeDi] [varchar](10) NULL,
	[MaBenXeDen] [varchar](10) NULL,
 CONSTRAINT [PK__tblTuyen__B45760206A6A0B07] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblXeKhach]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblXeKhach](
	[MaXe] [int] NOT NULL,
	[MaTaiXe] [int] NULL,
	[MaLoaiXe] [int] NULL,
	[BienSoXe] [varchar](10) NULL,
	[MaTuyen] [varchar](11) NULL,
	[SoGhe] [int] NULL,
 CONSTRAINT [PK__tblXeKha__272520CD3ED9C105] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblXeTrungChuyen]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblXeTrungChuyen](
	[MaXe] [int] NOT NULL,
	[MaTaiXe] [int] NULL,
	[MaLoaiXe] [int] NULL,
	[BienSoXe] [varchar](10) NULL,
	[DiaDiemTrungChuyen] [nvarchar](200) NULL,
 CONSTRAINT [PK__tblXeTru__272520CD94FA13C2] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblBenXe] ([MaBenXe], [TenBenXe]) VALUES (N'DL', N'Đăk Lăk')
INSERT [dbo].[tblBenXe] ([MaBenXe], [TenBenXe]) VALUES (N'GB', N'Giáp Bát')
INSERT [dbo].[tblBenXe] ([MaBenXe], [TenBenXe]) VALUES (N'LY', N'Lương Yên')
INSERT [dbo].[tblChiTietChuyenDi] ([MaChuyenDi], [MaBenXeTrungGiang], [ThoiGianDung], [GhiChu]) VALUES (1, N'LY', 0, N'')
INSERT [dbo].[tblChuyenDi] ([MaChuyenDi], [MaXe], [KhoiHanh], [KetThuc], [DonGia], [SoGheTrong], [SoGheDat]) VALUES (1, 1, CAST(0x0000A84A017A2A89 AS DateTime), CAST(0x0000A84B017A29C4 AS DateTime), 650000.0000, 0, 0)
INSERT [dbo].[tblLoaiNhanVien] ([MaLoaiNhanVien], [TenLoaiNhanVien]) VALUES (1, N'Tài xế')
INSERT [dbo].[tblLoaiNhanVien] ([MaLoaiNhanVien], [TenLoaiNhanVien]) VALUES (2, N'Nhân viên')
INSERT [dbo].[tblLoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (1, N'Xe ghế ngồi')
INSERT [dbo].[tblLoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (2, N'Xe giường nằm')
INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [MaLoaiNhanVien], [NgaySinh], [CMND], [DiaChi]) VALUES (1, N'ESONDINH', 2, CAST(0x00007DAD00000000 AS DateTime), 454545, N'HN')
INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [MaLoaiNhanVien], [NgaySinh], [CMND], [DiaChi]) VALUES (2, N'Nguyễn HồngAnh ', 1, CAST(0x00007AA200000000 AS DateTime), 234332567, N'Tp.HCM')
INSERT [dbo].[tblPhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'admin')
INSERT [dbo].[tblPhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'nvien')
INSERT [dbo].[tblPhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (3, N'giam đốc')
INSERT [dbo].[tblTaiKhoan] ([TenTaiKhoan], [MatKhau], [MaNhanVien], [MaQuyen]) VALUES (N'admin', N'12345', 1, 1)
INSERT [dbo].[tblThamSo] ([ThoiGianDiToiThieu], [BenXeTrungGianToiDa], [ThoiGianDungToiThieu], [ThoiGianDungToiDa]) VALUES (30, 2, 10, 20)
INSERT [dbo].[tblTuyenXe] ([MaTuyen], [MaBenXeDi], [MaBenXeDen]) VALUES (N'GB_DL', N'GB', N'DL')
INSERT [dbo].[tblTuyenXe] ([MaTuyen], [MaBenXeDi], [MaBenXeDen]) VALUES (N'GB_NN', N'GB', N'NN')
INSERT [dbo].[tblTuyenXe] ([MaTuyen], [MaBenXeDi], [MaBenXeDen]) VALUES (N'MD_DL', N'MD', N'DL')
INSERT [dbo].[tblXeKhach] ([MaXe], [MaTaiXe], [MaLoaiXe], [BienSoXe], [MaTuyen], [SoGhe]) VALUES (1, 2, 1, N'52B2-56457', N'GB_DL', 4)
INSERT [dbo].[tblXeTrungChuyen] ([MaXe], [MaTaiXe], [MaLoaiXe], [BienSoXe], [DiaDiemTrungChuyen]) VALUES (1, 2, NULL, N'51B1-556.6', N'GB-DL')
ALTER TABLE [dbo].[tblBaoCaoDoanhThuChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK__tblBaoCao__MaChu__35BCFE0A] FOREIGN KEY([MaChuyenDi])
REFERENCES [dbo].[tblChuyenDi] ([MaChuyenDi])
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhThuChuyenDi] CHECK CONSTRAINT [FK__tblBaoCao__MaChu__35BCFE0A]
GO
ALTER TABLE [dbo].[tblChiTietChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK__tblChiTie__MaBen__29572725] FOREIGN KEY([MaBenXeTrungGiang])
REFERENCES [dbo].[tblBenXe] ([MaBenXe])
GO
ALTER TABLE [dbo].[tblChiTietChuyenDi] CHECK CONSTRAINT [FK__tblChiTie__MaBen__29572725]
GO
ALTER TABLE [dbo].[tblChiTietChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK__tblChiTie__MaChu__286302EC] FOREIGN KEY([MaChuyenDi])
REFERENCES [dbo].[tblChuyenDi] ([MaChuyenDi])
GO
ALTER TABLE [dbo].[tblChiTietChuyenDi] CHECK CONSTRAINT [FK__tblChiTie__MaChu__286302EC]
GO
ALTER TABLE [dbo].[tblChiTietPhieuDatCho]  WITH CHECK ADD  CONSTRAINT [FK__tblChiTie__MaChu__2F10007B] FOREIGN KEY([MaChuyenDi])
REFERENCES [dbo].[tblChuyenDi] ([MaChuyenDi])
GO
ALTER TABLE [dbo].[tblChiTietPhieuDatCho] CHECK CONSTRAINT [FK__tblChiTie__MaChu__2F10007B]
GO
ALTER TABLE [dbo].[tblChiTietPhieuDatCho]  WITH CHECK ADD  CONSTRAINT [FK__tblChiTie__MaPhi__2E1BDC42] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[tblPhieuDatCho] ([MaPhieu])
GO
ALTER TABLE [dbo].[tblChiTietPhieuDatCho] CHECK CONSTRAINT [FK__tblChiTie__MaPhi__2E1BDC42]
GO
ALTER TABLE [dbo].[tblChiTietTrungChuyen]  WITH CHECK ADD  CONSTRAINT [FK__tblChiTie__MaPhi__32E0915F] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[tblPhieuDatCho] ([MaPhieu])
GO
ALTER TABLE [dbo].[tblChiTietTrungChuyen] CHECK CONSTRAINT [FK__tblChiTie__MaPhi__32E0915F]
GO
ALTER TABLE [dbo].[tblChiTietTrungChuyen]  WITH CHECK ADD  CONSTRAINT [FK__tblChiTiet__MaXe__31EC6D26] FOREIGN KEY([MaXe])
REFERENCES [dbo].[tblXeTrungChuyen] ([MaXe])
GO
ALTER TABLE [dbo].[tblChiTietTrungChuyen] CHECK CONSTRAINT [FK__tblChiTiet__MaXe__31EC6D26]
GO
ALTER TABLE [dbo].[tblChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK__tblChuyenD__MaXe__25869641] FOREIGN KEY([MaXe])
REFERENCES [dbo].[tblXeKhach] ([MaXe])
GO
ALTER TABLE [dbo].[tblChuyenDi] CHECK CONSTRAINT [FK__tblChuyenD__MaXe__25869641]
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [FK__tblNhanVi__MaLoa__1273C1CD] FOREIGN KEY([MaLoaiNhanVien])
REFERENCES [dbo].[tblLoaiNhanVien] ([MaLoaiNhanVien])
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [FK__tblNhanVi__MaLoa__1273C1CD]
GO
ALTER TABLE [dbo].[tblTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__tblTaiKho__MaNha__3E52440B] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tblTaiKhoan] CHECK CONSTRAINT [FK__tblTaiKho__MaNha__3E52440B]
GO
ALTER TABLE [dbo].[tblTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__tblTaiKho__MaQuy__3F466844] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[tblPhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[tblTaiKhoan] CHECK CONSTRAINT [FK__tblTaiKho__MaQuy__3F466844]
GO
ALTER TABLE [dbo].[tblTuyenXe]  WITH CHECK ADD  CONSTRAINT [FK__tblTuyenX__MaBen__173876EA] FOREIGN KEY([MaBenXeDi])
REFERENCES [dbo].[tblBenXe] ([MaBenXe])
GO
ALTER TABLE [dbo].[tblTuyenXe] CHECK CONSTRAINT [FK__tblTuyenX__MaBen__173876EA]
GO
ALTER TABLE [dbo].[tblTuyenXe]  WITH CHECK ADD  CONSTRAINT [FK__tblTuyenX__MaBen__182C9B23] FOREIGN KEY([MaBenXeDen])
REFERENCES [dbo].[tblBenXe] ([MaBenXe])
GO
ALTER TABLE [dbo].[tblTuyenXe] CHECK CONSTRAINT [FK__tblTuyenX__MaBen__182C9B23]
GO
ALTER TABLE [dbo].[tblXeKhach]  WITH CHECK ADD  CONSTRAINT [FK__tblXeKhac__MaLoa__1DE57479] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[tblLoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[tblXeKhach] CHECK CONSTRAINT [FK__tblXeKhac__MaLoa__1DE57479]
GO
ALTER TABLE [dbo].[tblXeKhach]  WITH CHECK ADD  CONSTRAINT [FK__tblXeKhac__MaTai__1CF15040] FOREIGN KEY([MaTaiXe])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tblXeKhach] CHECK CONSTRAINT [FK__tblXeKhac__MaTai__1CF15040]
GO
ALTER TABLE [dbo].[tblXeKhach]  WITH CHECK ADD  CONSTRAINT [FK__tblXeKhac__MaTuy__1ED998B2] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[tblTuyenXe] ([MaTuyen])
GO
ALTER TABLE [dbo].[tblXeKhach] CHECK CONSTRAINT [FK__tblXeKhac__MaTuy__1ED998B2]
GO
ALTER TABLE [dbo].[tblXeTrungChuyen]  WITH CHECK ADD  CONSTRAINT [FK__tblXeTrun__MaLoa__22AA2996] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[tblLoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[tblXeTrungChuyen] CHECK CONSTRAINT [FK__tblXeTrun__MaLoa__22AA2996]
GO
ALTER TABLE [dbo].[tblXeTrungChuyen]  WITH CHECK ADD  CONSTRAINT [FK__tblXeTrun__MaTai__21B6055D] FOREIGN KEY([MaTaiXe])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tblXeTrungChuyen] CHECK CONSTRAINT [FK__tblXeTrun__MaTai__21B6055D]
GO
/****** Object:  Statistic [PK__tblBaoCa__2814C4EFF394C1BC]     ******/
UPDATE STATISTICS [dbo].[tblBaoCaoDoanhThuChuyenDi]([PK__tblBaoCa__2814C4EFF394C1BC]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__tblBaoCa__C7D111C2F991E8B0]     ******/
UPDATE STATISTICS [dbo].[tblBaoCaoDoanhThuNam]([PK__tblBaoCa__C7D111C2F991E8B0]) WITH STATS_STREAM = 0x01000000010000000000000000000000A3D3C7DB0000000040000000000000000000000000000000380300003800000004000A00000000000000000038000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_36B12243]     ******/
CREATE STATISTICS [_WA_Sys_00000002_36B12243] ON [dbo].[tblBaoCaoDoanhThuThang]([Nam]) WITH STATS_STREAM = 0x010000000100000000000000000000008864E4560000000040000000000000000000000000000000380300003800000004000A00000000000000000001000000
GO
/****** Object:  Statistic [PK__tblBaoCa__11A9E4568667C90E]     ******/
UPDATE STATISTICS [dbo].[tblBaoCaoDoanhThuThang]([PK__tblBaoCa__11A9E4568667C90E]) WITH STATS_STREAM = 0x0100000002000000000000000000000020EFBEC40000000058000000000000000000000000000000380358E13800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_1367E606]     ******/
CREATE STATISTICS [_WA_Sys_00000002_1367E606] ON [dbo].[tblBenXe]([TenBenXe]) WITH STATS_STREAM = 0x010000000100000000000000000000004BEC09CF000000002702000000000000E701000000000000E70258E1E7000000640000000000000008D000340077007307000000DAE06C01C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F0400000100270047006900E100700020004200E1007400FF01000000000000000100000001000000280000002800000000000000000000000800000047006900E100700020004200E10074000200000040000000000108000000000100000000000000
GO
/****** Object:  Statistic [PK__tblBenXe__436ED7BA53C308CD]     ******/
UPDATE STATISTICS [dbo].[tblBenXe]([PK__tblBenXe__436ED7BA53C308CD]) WITH STATS_STREAM = 0x01000000010000000000000000000000A5FAAD7E000000000B02000000000000CB01000000000000A7030000A70000000A0000000000000008D000340000000007000000D9E06C01C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000400000803F0000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000210000000000000057000000000000005F000000000000000800000000000000300010000000803F000000000000803F040000010019004742FF01000000000000000100000001000000280000002800000000000000000000000200000047420200000040000000000102000000000100000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__tblChiTi__AD40275151C8BA00]     ******/
UPDATE STATISTICS [dbo].[tblChiTietChuyenDi]([PK__tblChiTi__AD40275151C8BA00]) WITH STATS_STREAM = 0x01000000020000000000000000000000601213290000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000A703803FA70000000A0000000000000008D0003400000100, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000003_2C3393D0]     ******/
CREATE STATISTICS [_WA_Sys_00000003_2C3393D0] ON [dbo].[tblChiTietPhieuDatCho]([MaChuyenDi]) WITH STATS_STREAM = 0x010000000100000000000000000000005C8E97CD0000000040000000000000000000000000000000380200003800000004000A00000000000000000001000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_2C3393D0]     ******/
CREATE STATISTICS [_WA_Sys_00000004_2C3393D0] ON [dbo].[tblChiTietPhieuDatCho]([LayVe]) WITH STATS_STREAM = 0x010000000100000000000000000000001CE67F740000000040000000000000000000000000000000680200006800000001000100000000000000000001000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_2C3393D0]     ******/
CREATE STATISTICS [_WA_Sys_00000005_2C3393D0] ON [dbo].[tblChiTietPhieuDatCho]([ViTriGhe]) WITH STATS_STREAM = 0x010000000100000000000000000000005C8E97CD0000000040000000000000000000000000000000380200003800000004000A00000000000000000001000000
GO
/****** Object:  Statistic [PK__tblChiTi__0C8D8D3269193CB3]     ******/
UPDATE STATISTICS [dbo].[tblChiTietPhieuDatCho]([PK__tblChiTi__0C8D8D3269193CB3]) WITH STATS_STREAM = 0x010000000100000000000000000000007F3AE2FA0000000040000000000000000000000000000000380358E13800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__tblChiTi__35432B3321FFAEFD]     ******/
UPDATE STATISTICS [dbo].[tblChiTietTrungChuyen]([PK__tblChiTi__35432B3321FFAEFD]) WITH STATS_STREAM = 0x01000000020000000000000000000000C4EA81170000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_239E4DCF]     ******/
CREATE STATISTICS [_WA_Sys_00000002_239E4DCF] ON [dbo].[tblChuyenDi]([MaXe]) WITH STATS_STREAM = 0x010000000100000000000000000000007739B4400000000040000000000000000000000000000000380200003800000004000A00000000000000000038000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_239E4DCF]     ******/
CREATE STATISTICS [_WA_Sys_00000004_239E4DCF] ON [dbo].[tblChuyenDi]([KetThuc]) WITH STATS_STREAM = 0x0100000001000000000000000000000021E1BD4800000000400000000000000000000000000000003D0200003D00000008001703000000000000000038000000
GO
/****** Object:  Statistic [PK__tblChuye__2814C4EF873C6E73]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblChuyenDi]([PK__tblChuye__2814C4EF873C6E73]) WITH STATS_STREAM = 0x0100000001000000000000000000000030E28A8A00000000CB010000000000008B01000000000000380300343800000004000A0000000000000000000100000007000000A8E87A014AA8000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_0EA330E9]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_0EA330E9] ON [dbo].[tblLoaiNhanVien]([TenLoaiNhanVien]) WITH STATS_STREAM = 0x0100000001000000000000000000000095AA95610000000067020000000000002702000000000000E7020000E7000000640000000000000008D000340000000007000000995879014AA8000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000070410000004000000000000070410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005C00000000000000B300000000000000BB0000000000000010000000000000003900000000000000300010000000803F000000000000803F040000010029004E006800E2006E00200076006900EA006E00300010000000803F000000000000803F040000010023005400E000690020007800BF1EFF01000000000000000200000002000000280000002800000000000000000000000F0000004E006800E2006E00200076006900EA006E005400E000690020007800BF1E03000000400000000081090000000106090000000200000000000000
GO
/****** Object:  Statistic [PK__tblLoaiN__C806D5EA4C9B7826]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblLoaiNhanVien]([PK__tblLoaiN__C806D5EA4C9B7826]) WITH STATS_STREAM = 0x01000000010000000000000000000000B03AE1A800000000EA01000000000000AA01000000000000380358E13800000004000A00000000000000000000000000070000007A1A6701C5A5000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_1920BF5C]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_1920BF5C] ON [dbo].[tblLoaiXe]([TenLoaiXe]) WITH STATS_STREAM = 0x01000000010000000000000000000000639781810000000088020000000000004802000000000000E7020000E7000000C80000000000000008D000340000000007000000E2067A014AA8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000C04100000040000000000000C0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006E00000000000000D400000000000000DC0000000000000010000000000000003D00000000000000300010000000803F000000000000803F04000001002D0058006500200067006800BF1E20006E006700D31E6900300010000000803F000000000000803F0400000100310058006500200067006900B001DD1E6E00670020006E00B11E6D00FF01000000000000000200000002000000280000002800000000000000000000001400000058006500200067006800BF1E20006E006700D31E69006900B001DD1E6E00670020006E00B11E6D000400000040000000004004000000810704000001090B0000000200000000000000
GO
/****** Object:  Statistic [PK__tblLoaiX__122512B5C7832D27]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblLoaiXe]([PK__tblLoaiX__122512B5C7832D27]) WITH STATS_STREAM = 0x01000000010000000000000000000000FC488D6800000000EA01000000000000AA0100000000000038030AE23800000004000A0000000000000000000000000007000000F8067A014AA8000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_108B795B]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_108B795B] ON [dbo].[tblNhanVien]([TenNhanVien]) WITH STATS_STREAM = 0x01000000010000000000000000000000BD258D4C0000000087020000000000004702000000000000E7020000E7000000C80000000000000008D00034000000000700000010A079014AA8000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000B84100000040000000000000B8410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006C00000000000000D300000000000000DB0000000000000010000000000000003700000000000000300010000000803F000000000000803F04000001002700450053004F004E00440049004E004800300010000000803F000000000000803F040000010035004E00670075007900C51E6E0020004800D31E6E00670041006E0068002000FF010000000000000002000000020000002800000028000000000000000000000017000000450053004F004E00440049004E0048004E00670075007900C51E6E0020004800D31E6E00670041006E00680020000300000040000000008108000000010F080000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_108B795B]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_108B795B] ON [dbo].[tblNhanVien]([MaLoaiNhanVien]) WITH STATS_STREAM = 0x01000000010000000000000000000000E4D2BBD500000000CB010000000000008B01000000000000380258E13800000004000A0000000000000000007F0000000700000033206D01C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F020000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_108B795B]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000005_108B795B] ON [dbo].[tblNhanVien]([CMND]) WITH STATS_STREAM = 0x01000000010000000000000000000000F33C96A500000000CB010000000000008B01000000000000380258E13800000004000A0000000000000000007F00000007000000D92B6701C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F91EF06000400000100000000000000
GO
/****** Object:  Statistic [PK__tblNhanV__77B2CA47C295D1AE]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblNhanVien]([PK__tblNhanV__77B2CA47C295D1AE]) WITH STATS_STREAM = 0x01000000010000000000000000000000EDDF87D400000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000ECB73501C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_3A81B327]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_3A81B327] ON [dbo].[tblPhanQuyen]([TenQuyen]) WITH STATS_STREAM = 0x0100000001000000000000000000000066D673DA0000000097020000000000005702000000000000E7020000E7000000640000000000000008D000340000000007000000A45879014AA800000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000040410000404000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008100000000000000E300000000000000EB00000000000000180000000000000039000000000000006000000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00300010000000803F000000000000803F040000010027006700690061006D0020001101D11E6300300010000000803F000000000000803F040000010021006E007600690065006E00FF010000000000000003000000030000002800000028000000000000000000000012000000610064006D0069006E006700690061006D0020001101D11E63006E007600690065006E000400000040000000008105000000810805000001050D0000000300000000000000
GO
/****** Object:  Statistic [PK__tblPhanQ__1D4B7ED4CC3F7AFF]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblPhanQuyen]([PK__tblPhanQ__1D4B7ED4CC3F7AFF]) WITH STATS_STREAM = 0x010000000100000000000000000000003DD9B9FF00000000CB010000000000008B01000000000000380300003800000004000A000000000000000000000000000700000098D93501C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__tblPhieu__2660BFE057B299B7]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblPhieuDatCho]([PK__tblPhieu__2660BFE057B299B7]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_3C69FB99]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_3C69FB99] ON [dbo].[tblTaiKhoan]([MatKhau]) WITH STATS_STREAM = 0x0100000001000000000000000000000052FB8199000000001102000000000000D101000000000000A7020000A7000000140000000000000008D0003438000000070000004F0B6701C5A5000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000024000000000000005D0000000000000065000000000000000800000000000000300010000000803F000000000000803F04000001001C003132333435FF01000000000000000100000001000000280000002800000000000000000000000500000031323334350200000040000000000105000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_3C69FB99]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_3C69FB99] ON [dbo].[tblTaiKhoan]([MaNhanVien]) WITH STATS_STREAM = 0x010000000100000000000000000000004A94F96600000000CB010000000000008B01000000000000380258E13800000004000A0000000000000000000100000007000000600D6701C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_3C69FB99]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_3C69FB99] ON [dbo].[tblTaiKhoan]([MaQuyen]) WITH STATS_STREAM = 0x0100000001000000000000000000000032F9074B00000000CB010000000000008B01000000000000380258E13800000004000A000000000000000000010000000700000018416901C5A5000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK__tblTaiKh__B106EAF9F905A062]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblTaiKhoan]([PK__tblTaiKh__B106EAF9F905A062]) WITH STATS_STREAM = 0x010000000100000000000000000000001A7F00C5000000001302000000000000D301000000000000A7030000A7000000140000000000000008D000340100000007000000D2DD3501C5A5000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000025000000000000005F0000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001001D0073616B757261FF01000000000000000100000001000000280000002800000000000000000000000600000073616B7572610200000040000000000106000000000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_15502E78]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_15502E78] ON [dbo].[tblTuyenXe]([MaBenXeDi]) WITH STATS_STREAM = 0x0100000001000000000000000000000009D9768D0000000040000000000000000000000000000000A7020000A70000000A0000000000000008D0003400000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_15502E78]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_15502E78] ON [dbo].[tblTuyenXe]([MaBenXeDen]) WITH STATS_STREAM = 0x0100000001000000000000000000000009D9768D0000000040000000000000000000000000000000A7020000A70000000A0000000000000008D0003400000000
GO
/****** Object:  Statistic [PK__tblTuyen__B45760206A6A0B07]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblTuyenXe]([PK__tblTuyen__B45760206A6A0B07]) WITH STATS_STREAM = 0x0100000001000000000000000000000009E932FA000000006F020000000000002F02000000000000A7030000A70000000B0000000000000008D000340000000007000000C6C36D01C5A500000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000A04000004040000000000000A0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006C00000000000000BB00000000000000C300000000000000180000000000000034000000000000005000000000000000300010000000803F000000000000803F04000001001C0047425F444C300010000000803F000000000000803F04000001001C0047425F4E4E300010000000803F000000000000803F04000001001C004D445F444CFF01000000000000000300000003000000280000002800000000000000000000000C00000047425F444C4E4E4D445F444C050000004000000000C003000000810203000001020500000105070000000300000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000004_1B0907CE]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_1B0907CE] ON [dbo].[tblXeKhach]([BienSoXe]) WITH STATS_STREAM = 0x0100000001000000000000000000000009D9768D0000000040000000000000000000000000000000A7020000A70000000A0000000000000008D0003400000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_1B0907CE]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000005_1B0907CE] ON [dbo].[tblXeKhach]([MaTuyen]) WITH STATS_STREAM = 0x0100000001000000000000000000000098481E230000000040000000000000000000000000000000A7020000A70000000B0000000000000008D0003400000000
GO
/****** Object:  Statistic [PK__tblXeKha__272520CD3ED9C105]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblXeKhach]([PK__tblXeKha__272520CD3ED9C105]) WITH STATS_STREAM = 0x010000000100000000000000000000009A30B27C00000000CB010000000000008B010000000000003803FFFF3800000004000A00000000000000000000000000070000006C4B7A014AA8000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000004_1FCDBCEB]    Script Date: 12/15/2017 11:09:38 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_1FCDBCEB] ON [dbo].[tblXeTrungChuyen]([BienSoXe]) WITH STATS_STREAM = 0x0100000001000000000000000000000009D9768D0000000040000000000000000000000000000000A7020000A70000000A0000000000000008D0003400000000
GO
/****** Object:  Statistic [PK__tblXeTru__272520CD94FA13C2]    Script Date: 12/15/2017 11:09:38 PM ******/
UPDATE STATISTICS [dbo].[tblXeTrungChuyen]([PK__tblXeTru__272520CD94FA13C2]) WITH STATS_STREAM = 0x010000000100000000000000000000007F3AE2FA0000000040000000000000000000000000000000380358E13800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
USE [master]
GO
